.login-container{
    margin-top: 50px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.divUser{
    background-color: gray;
    width: 9rem;
    height: 9rem;
    border-radius: 100%;
}

.font-z-60{
    font-size: 70px;
}

.m-a{
    margin: auto;
}