<div class="row container login-container">
    <div class="col-lg-6 login-container">
        <div class="card mt-5">
            
            <div class="card-body text-center">
                <h3>Inicie sesión con su usuario</h3>
                <div class="divUserContainer mt-5">
                    <div class="divUser m-a">
                        <i class="fas fa-user m-a font-z-60 text-white mt-4"></i>
                    </div>
                </div>
                <form class="text-left" [formGroup]="formulario" (ngSubmit)="iniciarSesion()">
                    <div class="mt-4">
                        <input type="text" class="form-control formcontrol-lg" placeholder="Usuario" formControlName="usuario">
                        <label *ngIf="bandera && this.formulario.value.usuario == ''" class="text-danger">Campo obligatorio</label>
                    </div>
                    <div class="mt-4">
                        <input type="password" class="form-control formcontrol-lg" placeholder="Contraseña" formControlName="contrasena">
                        <label *ngIf="bandera && this.formulario.value.contrasena ==''" class="text-danger">Campo obligatorio</label>
                    </div>
                    <div class="mt-4 text-center">
                        <button class="btn btn-success btn-large" type="submit">Login</button>
                    </div>
                    
                </form>
            </div>
            <div *ngIf="this.authService.isVerificado" class="alert alert-warning fade show" role="alert">
                Usuario no verificado, revise la bandeja de entrada de su correo electronico
              </div>
              <div *ngIf="this.authService.isIncorrectUser" class="alert alert-warning fade show" role="alert">
                Usuario o contraseña incorrectos
              </div>
        </div>
    </div>
</div>
